<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="../common/style.css" />
    <script type="module" src="../common/script.js" defer></script>
    <script type="module" src="script.js" defer></script>
  </head>
  <body>
    <nav></nav>
    <main class="container">
      <h1>Template</h1>
      <form onsubmit="return false;">
        <fieldset id="note" class="button-grid"></fieldset>
      </form>
    </main>
  </body>
</html>
